@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 100%;
    border-radius: 1rem;
}

button{
    background-color: #d64424;
    border-radius: 42px;
    font-size: 15px;
    border: none;
    position: static;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 60px;
    text-align: center;
    width: 224px;
    height: 54px;

}

h2{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    line-height: normal;
    font-style: italic;
}
a,
li{
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}
p{
    font-size: 16px;
}
.text-light{
    color: #ffffff;
}
.text-gray{
    color: rgba(255,255,255,0.5);
}
/* Banner Part */
.banner{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    
}
/* Nav Bar Part */
.nav-bar{
    width: 1060px;
    margin: 0 auto;
    padding-top: 60px;
    padding-right: 190px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}
.logo{
    display: flex;
    align-items: center;
    width: 280px;
}
.fitness{

    color: #d64424;
    font-size:40px;
    font-weight: 800;
}
.button{
    display: flex;
}
.nav-options{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}
.nav-options a{
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}
.nav-options a span{
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px;
}
.ham-burger{
    display: none;
}

.banner-items{
    display: flex;
}
.banner-content{
    margin-left: 190px;
    max-width: 600px;
    padding-right: 60px;
}
.banner-content h1 span{
    font-family: 'Miama', sans-serif; 
    font-size: 2rem;                                            
}
.button{
    padding-top: 20px;
}
.btn-primary{
    border-radius: 42px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    padding: 16px 40px;
    margin: 0px 14px;
    border: none;
    
}

.btn-secondary{
    border-radius: 42px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px;
    margin: 0px 14px;
    border: 1px solid rgb(255, 255, 255);
}
.box1{
    position: absolute;
    /* margin-left: -100px;
    margin-bottom: 500px; */
    left: 764px;
    top: 556px;
    width: 206px;
    height: 96px;
    display: flex;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);;
}
.box1 h4{
    font-size: 2rem;
}
.circle{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 30px;

    
    align-items: center;
    background: rgb(230, 83, 60);
    border-radius: 100%;
}
#tutorial{
    margin-left: 65px;
    margin-top: 20px;
    height: 56px;
}

.box2{
    position: absolute;
    width: 193px;
    height: 98px;
    left: 70.5%;
    top: 46.7%;
    padding-left: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}
.box2 h4{
    font-size: 3rem;
}

.change-habit{
    padding-top: 60px;
    padding-left: 190px;
    padding-right: 190px;
    background-color: black;
}
.change-habit-content{
    text-align: center;
}

.modules{
    display: flex;
    align-items: center;
    gap: 36px;
}
.module > img{
    border-radius: 50%;
}
.run-extra{
    background-color: #000000;
    align-items: center;
    justify-content: space-between;
    padding: 20px auto;
    margin: 0 auto;
}
.run-extra-content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    
    background-color: #333;
    color: white;
    border-radius: 15px;
    padding: 20px 20px;
    /* padding: 20px; */
    height: 100%;
    box-sizing: border-box;
}

.text-content {
    flex: 1;
}

.text-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.text-content button {
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.image-content {
    flex: 1;
    max-width: 366px;
    max-height: 312px;
    display: flex;
    justify-content: center;
    object-fit: none;
    object-position: 65% 28%;
}


.image-content img {
    border-radius: 15px;
    height: 100%;
    max-width: 100%;
}

.bmi-section {
    width: 100%;
    background-color: #000000;
    text-align: center;
    padding-top: 20px;
    
}

.bmi-section h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.bmi-section .subtext {
    font-size: 1rem;
    margin-bottom: 40px;
    color: #bbb;
}

.bmi-container {
    background-color: #333;
    padding: 20px 190px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.bmi-chart, .bmi-calculator {
    
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    max-width: 48%;
}

.bmi-chart h2, .bmi-calculator h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: left;
}

.bmi-chart table {
    width: 100%;
    border-collapse: collapse;
}

.bmi-chart th, .bmi-chart td {
    padding: 10px;
    text-align: left;
    border: 1px solid #444;
    color: #bbb;
}

.bmi-chart th {
    background-color: #222;
    color: #fff;
}

.bmi-calculator form {
    text-align: left;
}
.input{
    max-width: 336px;
    max-height: 48px;
}

.bmi-calculator .input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 20px;
}
.bmi-calculator p{
    color: #bbb;
}

.bmi-calculator input, .bmi-calculator select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

/* .bmi-calculator button {

    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f25430;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
} */

.bmi-calculator button:hover {
    background-color: #d64424;
}

.team-section {
    text-align: center;
    background-color: #000000;
    padding-bottom: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 190px;
    max-width: 100%;
}

.team-section h1 {
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    margin-bottom: 10px;
}

.team-section .subtext {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin-bottom: 40px;


}

.team-grid {
    max-width: 1200px;
    min-height: 604px;
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    border-radius: 1rem;
    

}

.team-member {
    background-color: #222;
    border-radius: 8px;
    overflow: hidden;
    width: 326.67px;
    height: 272px;
    text-align: left;
    background-size: cover;
    
}

.team-member img {
    width: 100%;
    height: auto;
    display: block;
}
.img1{
    background-image: url('./images/jerome.png');

}
.img2{
    background-image: url('./images/cameron.png');
}
.img3{
    background-image: url('./images/darrell.png');
}
.img4{
    background-image: url('./images/dianne.png');
}
.img5{
    background-image: url('./images/cody.png');
}
.img6{
    background-image: url('./images/theresa.png');
}
.member-info {
    padding: 15px;
    padding-top: 200px;
}

.member-info h3 {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.member-info p {
    font-size: 0.9rem;
    color: #ddcaca;
}

.footer {
    margin: 0 auto;
    background-color: #202020;
    color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.row{
    padding-top: 66px;
    padding-left: 190px;
    padding-right: 190px;
    display: flex;

}
.footer .column {
    flex: 1;
    margin: 10px;
}
.footer h2 {
    font-size: 70px;
    font-weight: 800px;
    font-style: italic;
    color: #e03d1e;

}
.footer p {
    color: #b5b5b5;
    line-height: 1.6;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.footer ul li {
    text-align: left;
    margin: 10px 0;
}
.footer ul li a {
    color: #b5b5b5;
    text-decoration: none;
}
.footer ul li a:hover {
    text-decoration: underline;
}
.footer .rights {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #333;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Mobile view adjustments */
@media (max-width: 576px) {
    .nav-bar{
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-options{
        display: none;
    }
    .ham-burger{
        display: block;
    }

    .banner-items{
        padding: 0px;
        flex-direction: column;

    }
    .box1{
        position: absolute;
        width: 155.74px;
        height: 72.58px;
        left: 8.1%;
        top: 103.3%;

    }
    .box2{
        width: 37.1%;
        height: 18.9%;
        left: 54.5%;
        top: 46.7%;

    }

    .modules{
        flex-direction: column;
    }



    .run-extra{
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    .text-content {
        text-align: center;
    }

    .text-content h1 {
        font-size: 24px;
    }

    .text-content p {
        font-size: 14px;
    }

    .image-content img {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .bmi-section{
        padding: 20px auto;
    }
    .bmi-container{
        
        flex-direction: column;
    }
    .bmi-calculator{
        
    }
    .team-section{
        padding-left: 20px;
        padding-right: 20px;
    }
    .team-member.img5,
    .team-member.img6 {
        display: none;
    }
    .team-grid {
        grid-template-columns: 1fr;
    }
    .team-section h1{
        font-size: 1.8rem;
    }

    .team-member {
        max-width: none;
    }

    .footer .row{
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        text-align: left;
    }
    .footer .column {
        flex: none;
        width: 100%;
        text-align: left;
    }
}