@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    padding: 0;
    margin: 0;
}

.footer {
    background-color: #202020;
    color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.row{
    padding-top: 66px;
    padding-left: 190px;
    padding-right: 190px;
    display: flex;

}
.footer .column {
    flex: 1;
    margin: 10px;
}
.footer h2 {
    font-size: 70px;
    font-weight: 800px;
    font-style: italic;
    color: #e03d1e;

}
.footer p {
    color: #b5b5b5;
    line-height: 1.6;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.footer ul li {
    margin: 10px 0;
}
.footer ul li a {
    color: #b5b5b5;
    text-decoration: none;
}
.footer ul li a:hover {
    text-decoration: underline;
}
.footer .rights {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #333;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Mobile view adjustments */
@media (max-width: 576px) {
    .footer .row{
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        text-align: left;
    }
    .footer .column {
        flex: none;
        width: 100%;
        text-align: left;
    }
}