@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    padding: 20px auto;
    margin: 0;
}

.team-section {
    text-align: center;
    padding-left: 190px;
    padding-right: 190px;
    background-color: #000000;
    padding-bottom: 80px;
}

.team-section h1 {
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    margin-bottom: 10px;
}

.team-section .subtext {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin-bottom: 40px;

}

.team-grid {
    max-width: 1060px;
    min-height: 604px;
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap:20px;
    align-items: center;
    justify-items: center;
    border-radius: 1rem;

}

.team-member {
    background-color: #222;
    border-radius: 8px;
    overflow: hidden;
    width: 326.67px;
    height: 272px;
    text-align: left;
    background-size: cover;
}

.team-member img {
    width: 100%;
    height: auto;
    display: block;
}
.img1{
    background-image: url('./images/jerome.png');

}
.img2{
    background-image: url('./images/cameron.png');
}
.img3{
    background-image: url('./images/darrell.png');
}
.img4{
    background-image: url('./images/dianne.png');
}
.img5{
    background-image: url('./images/cody.png');
}
.img6{
    background-image: url('./images/theresa.png');
}
.member-info {
    padding: 15px;
    padding-top: 200px;
}

.member-info h3 {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.member-info p {
    font-size: 0.9rem;
    color: #ddcaca;
}

.footer {
    background-color: #202020;
    color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.row{
    padding-top: 66px;
    padding-left: 190px;
    padding-right: 190px;
    display: flex;

}
.footer .column {
    flex: 1;
    margin: 10px;
}
.footer h2 {
    font-size: 70px;
    font-weight: 800px;
    font-style: italic;
    color: #e03d1e;

}
.footer p {
    color: #b5b5b5;
    line-height: 1.6;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.footer ul li {
    margin: 10px 0;
}
.footer ul li a {
    color: #b5b5b5;
    text-decoration: none;
}
.footer ul li a:hover {
    text-decoration: underline;
}
.footer .rights {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #333;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Mobile view adjustments */
@media (max-width: 576px) {
    .team-section{
        padding-left: 20px;
        padding-right: 20px;
    }
    .team-member.img5,
    .team-member.img6 {
        display: none;
    }
    .team-grid {
        grid-template-columns: 1fr;
    }
    .team-section h1{
        font-size: 1.8rem;
    }

    .team-member {
        max-width: none;
    }

    .footer .row{
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        text-align: left;
    }
    .footer .column {
        flex: none;
        width: 100%;
        text-align: left;
    }
}